<div id='coupon'>
  <%= render 'coupon', coupon: @coupon %>
  <%#= render partial: "form", locals: {zone: @zone} %>
</div>
<%= form_for [:user,@order] do |f| %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address, required: true %>
  </p>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Select Payment Method
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Method</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.radio_button :payment, "cash" %>
            <%= f.label :cash,   "cash" %>
            <%= f.radio_button :payment, "card" %>
            <%= f.label :cash,   "card" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="btn btn-primary " >
            <%= f.submit %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
