<%= form_for [:admin, @coupon] do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, required:true, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, required:true, autofocus: true, autocomplete: "value" %>
  </div>

  <div class="dropdown field mb-3 text-start">
    <%= f.label :Select_Coupon, class: "form-label" %><br />
    <%= f.select :products, options_for_select(Product.all.map {|key| [key.title.titleize, key.id]},), {}, multiple: true, class: "mx-2 form-select" %>
  </div>
  
  <%= f.submit %>
<% end %>
