<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href= "http://localhost:3000/users/sign_in">EMS</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if user_signed_in? && current_user.client? %>
            <%= link_to "Home",  user_products_path ,class: "nav-link" %>
          <% else %>
            <%= link_to "Home",  root_path ,class: "nav-link" %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="d-flex">
              <%= link_to "Sign out",  destroy_user_session_path, method: :delete,  class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Invite User",new_invitation_path,  class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li class="nav-item">
                  <%= link_to "Products",admin_products_path,  class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "New Product", new_admin_product_path,  class: "nav-link" %>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li class="nav-item">
                  <%= link_to "Categories",admin_categories_path,  class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "New Category",new_admin_category_path,  class: "nav-link" %>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Coupons
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li class="nav-item">
                  <%= link_to "Coupons",admin_coupons_path,  class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Add Coupon",new_admin_coupon_path,  class: "nav-link" %>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <%= link_to "View Orders",admin_orders_path,  class: "nav-link" %>
            </li>
          <% else %>
            <li class="d-flex">
              <%= link_to "Sign out",  destroy_user_session_path, method: :delete,  class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Products",user_products_path,  class: "nav-link" %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in",  new_user_session_path,  class: "nav-link"  %>
          </li>  
          <li class="nav-item">  
            <%= link_to "Sign Up",  new_user_registration_path,  class: "nav-link"  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
